body {
    font-family: 'Arial', sans-serif;
    line-height: 1.8;
    margin: 0;
    padding: 0;
    color: #4B0082;
    background-color: #FAF0E6;
}

header {
    background-color: #FFD700;
    padding: 25px;
    text-align: center;
    border-bottom: 5px solid #8B0000;
}

section {
    padding: 25px;
    margin: 25px;
    background-color: rgba(255, 223, 186, 0.4);
    border: 5px solid #8B0000;
}

h1, h2, h3 {
    color: #8B0000;
    text-transform: uppercase;
    letter-spacing: 3px;
}

ul {
    padding: 0;
    list-style-type: none;
}

li {
    margin-bottom: 12px;
    padding: 12px;
    border: 3px solid #8B0000;
    background-color: rgba(139, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
    background-color: #FFD700;
    padding: 25px;
    border: 5px solid #8B0000;
}

label {
    margin-bottom: 6px;
    color: #8B0000;
}

input, textarea {
    margin-bottom: 12px;
    padding: 12px;
    border: 3px solid #8B0000;
    border-radius: 5px;
    background-color: #FAF0E6;
    color: #4B0082;
    font-family: 'Arial', sans-serif;
}

button {
    padding: 12px;
    background-color: #4B0082;
    color: #FFFFFF;
    border: none;
    font-family: 'Arial', sans-serif;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s;
    border-radius: 5px;
}

button:hover {
    background-color: #8B0000;
    transform: scale(1.08);
}

footer {
    background-color: #FFD700;
    text-align: center;
    padding: 12px;
    width: 100%;
    bottom: 0;
    border-top: 5px solid #8B0000;
}

a {
    color: #4B0082;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}